:root {
    --button-color-text: white;
    --button-padding: 1em;
    --button-border-radius: 8px;

    --button-highlight: rgb(104, 180, 255);
    --previous-button-highlight: rgb(233, 233, 233);
}

button {
    background-color: var(--color-main);
    color: var(--button-color-text);

    padding: var(--button-padding);

    border: none;
    border-radius: var(--std-border-radius);
    font-weight: 600;
    font-size: 1.05rem;
    text-align: start;

    &:hover {
        cursor: pointer;
        background-color: var(--button-highlight);
    }

    &:disabled {
        background-color: rgb(141, 178, 215);
        cursor: not-allowed;
    }
}

.volgendeBtn {
    /* display: block; */
    position: absolute;
    width: 14rem;
    text-align: start;

    &:after {
        position: absolute;
        right: 10%;
        content: '→';
        color: rgb(21, 101, 182);
        font-weight: 800;
    }
}

.vorigeBtn {
    /* display: block; */
    position: absolute;
    width: 8rem;
    text-align: end;
    background-color: white;
    color: var(--color-main);
    outline: solid var(--color-main) 1px;

    &:after {
        position: absolute;
        left: 10%;
        content: '←';
        color: rgb(21, 101, 182);
        font-weight: 800;
    }

    &:hover {
        color: var(--button-highlight);
        background-color: white;
        outline: solid var(--button-highlight) 1px;

        &:after {
            color: var(--button-highlight);
        }
    }
}