.container {
    position: relative;
    max-width: 70rem;
    margin: auto;
}

.nextBtn, .previousBtn {
    transform: translateY(50%);
}

.nextBtn {
    bottom: 0;
    right: 5%;
}

.previousBtn {
    bottom: 0;
    left: 5%;
}